<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!-- Give each servlet a name -->
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>wwi318.MessageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
</web-app>