div {
    background-color: blue;
    color: hsl(9, 50, 50);
    border-color: rgba(73, 110, 52, 0.438);
    border: 1px dashed #254d2fbd;
}

.everySecondDiv {
    background-color: lightblue;
}

#headDiv {
    background-color: gray;
}

.square {
    height:200px;
    width: 200px;
    /*float: left*/;
}

.circle {
    background-color: indigo;
    height:200px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    /*float: right*/;
}

.roundBorder {
    height: 20px;
    border-radius: 7px;;
}

#circle1 {
    /* position: relative; left:100px;top:200px; */
    position: absolute;
    background-color: lawngreen;

    
}

.borderdSquare {
    border: 4px solid black;
    color: white;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 50px;
    text-align:center;
}

