.grid-container {
    display: grid;
    color: green;
    grid-template-columns: 20% 70% auto;
    grid-template-rows: 100px auto;
}

.grid-item {
    background-color: lightblue;
    border: 2px solid indigo;
}

.headerBar {
    grid-column-start: 1;
    grid-column-end: 4;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap; */
    justify-content: space-between;
    align-content: space-between;
    background-color:lightgray;

}

.noBox {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.flex-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    color: white;
    background-color: rgba(46, 46, 65, 0.685);
    text-align: center;
}

@media screen and (max-width: 700px) {
    .rightBar, .leftBar {
      display: none;
    }

    .content {
        grid-column-start: 1;
        grid-column-end: 4;
    }

  }

